<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mapper.IcollectMapper"><!--文件地址  -->
  <insert id="save"  parameterType="com.po.collect">
    INSERT  INTO  collect(sname,phonenumber,address,regid)VALUES(#{sname},#{phonenumber},#{address},#{regid}) 
  </insert>
  <update id="update" parameterType="com.po.collect">
  UPDATE  collect  SET sname=#{sname},phonenumber=#{phonenumber},address=#{address},regid=#{regid} WHERE  coid=#{coid}
  </update>
  <delete id="delbyid" parameterType="Integer">
    DELETE FROM collect  WHERE  coid=#{coid} 
  </delete>
  <delete id="delbyiid" parameterType="Integer">
    DELETE FROM collect  WHERE  regid=#{regid} 
  </delete>
  <select id="findbyid"  parameterType="Integer" resultType="com.po.collect">
  select  *  from collect   where  coid=#{coid}
  </select>
  <select id="findall" parameterType="Integer" resultType="com.po.collect">
  select  *  from collect   where  regid=#{regid}
  </select>
  <select id="findmaxrows"  resultType="Integer">
  SELECT  count(*)  FROM  collect 
  </select>
  </mapper>